<div class="account-list container mt-4">
  <div class="row">
    <div class="col-12" style="display: flex">

      <div class="form-group form-inline">
        <div class="example-container d-flex justify-content-center">
          <form [formGroup]="searchFormData" (ngSubmit)="searchForm()">
            <mat-form-field appearance="fill">
              <mat-label>Start</mat-label>
              <input matInput type="number" formControlName="start">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Limit</mat-label>
              <input matInput type="number" formControlName="limit">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>FirtName</mat-label>
              <input matInput formControlName="first_name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>LastName</mat-label>
              <input matInput formControlName="last_name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="pat@example.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Adress</mat-label>
              <input matInput formControlName="address">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-select required formControlName="gender">
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
              </mat-select>
              <mat-label>Gender</mat-label>
            </mat-form-field>




          </form>

        </div>
      </div>
    </div>
  </div>


  <!--  <div class="search">-->
  <!--    <input type="text" [(ngModel)]="searchStr" (ngModelChange)="search()">-->
  <!--  </div>-->
  <div class="d-flex justify-content-around col-3">
    <button class="btn btn-outline-primary"
            (click)="formAccountSV.formData$.next(null);formAccountSV.isOpenFrom=true">Add Account
    </button>
    <button class="btn btn-outline-primary "(click)="searchForm()">Search</button>
  </div>
  <div>
    <app-list-account></app-list-account>
  </div>

  <div [class.form-account]="formAccountSV.isOpenFrom" id="form-account"
       class=" justify-content-center align-items-center">
    <app-form-account></app-form-account>
  </div>
</div>
